<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Bil liste</h1>

<a href="/create">
    <button class="btn-create" id="btn-create">Tilføj bil</button>
</a>

<table>

    <thead>
    <tr>
        <th>Id</th>
        <th>indkoebsdato</th>
        <th>vognnr</th>
        <th>stelnr</th>
        <th>udstrysniveau</th>
        <th>staalpris</th>
        <th>regafg</th>
        <th>co2udl</th>
        <th>type</th>
        <th>maerke</th>
        <th>model</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="Bil: ${bil}">
        <td th:text="${bil.bil_ID}"/>
        <td th:text="${bil.indkoebsdato}"/>
        <td th:text="${bil.vognnr}"/>
        <td th:text="${bil.stelnr}"/>
        <td th:text="${bil.udstrysniveau}"/>
        <td th:text="${bil.staalpris}"/>
        <td th:text="${bil.regafg}"/>
        <td th:text="${bil.co2udl}"/>
        <td th:text="${bil.type}"/>
        <td th:text="${bil.maerke}"/>
        <td th:text="${bil.model}"/>
        <td>
            <a th:href="@{'/viewOne/'+${bil.bil_ID}}">
                <button class="btn-viewOne" id="btn-viewOne">Vis bil</button>
            </a>
            <a th:href="@{'/deleteOne/'+${bil.bil_ID}}">
                <button class="btn-deleteOne" id="btn-deleteOne">Slet bil</button>
            </a>
            <a th:href="@{'/updateOne/'+${bil.bil_ID}}">
                <button class="btn-updateOne" id="btn-updateOne">Updater bil</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>